APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:wTSgNsEKEqyl/mRqAfaV7pvE9HuTgpxc+mhcN5HK910=
APP_DEBUG=true
APP_URL=http://localhost/

LOG_CHANNEL=stack
LOG_LEVEL=debug

USER_RETENTION_EMAIL_START_DATE=2021-09-02

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=pgcrypto
DB_USERNAME=admin
DB_PASSWORD=postgres

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=Redis123
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=b78b57cbcd012f
MAIL_PASSWORD=bf89838a6d5b47
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=sample@email.com
MAIL_FROM_NAME="John Doe"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"