.env
.env.dusk.local
/.idea
/.vagrant
/.vscode
/node_modules
/bootstrap/cache/*
/public/storage
/vendor
/docker/.docker
/docker/dbdata
/storage/framework/sessions
/storage/framework/views
/storage/app/public
/backups
npm-debug.log
yarn-error.log
laravel-echo-server.json
/public/storage/assets/images/logo.svg
/public/storage/assets/images/logo.png
/public/storage/assets/images/logo-white.svg
/resources/views/pages/FrontSubsystem/landing.blade.php
/resources/views/pages/FrontSubsystem/faq.blade.php
/resources/views/pages/FrontSubsystem/about.blade.php
/resources/views/pages/FrontSubsystem/partnerships.blade.php
/resources/assets/js/echo.js
/public/storage/assets/js/echo.js
/public/assets/images/bg-header.svg
